.main-bg-fon canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-bg-fon{
    width: 100%;
    height: 1070px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.main-bg__cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 32%;
}
.btn{
    display: flex;
    max-width: 340px;
    width: 100%;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(180deg, #F24646 0%, #581616 100%);
    white-space: nowrap;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}
.btn:hover{
    background: linear-gradient(180deg, #581616 0%, #F24646  100%);
}
.icon-snow{
    background-image: url("../img/snow-line.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
}
.phone-number{
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    gap: 20px;
    white-space: nowrap;
}
.icon-whatsapp{
    background-image: url("../img/logos-whatsapp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
}

.banner__main{
    margin-top: 32px;
}
.banner__flex{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 60px;
}
.banner__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 100%;
}
.banner__icon{
    width: 108px;
    height: 108px;
    border-radius: 50%;
    border: 8px solid #A8FFF5;
    background: #007E70;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__box span{
    margin-top: 30px;
    display: block;
    text-align: center;
    color: #007E70;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    max-width: 250px;
    width: 100%;
}
.banner__box p{
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}
.buy-nordmann{
    margin-top: 125px;

}
.buy-nordmann-hrefs ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.buy-nordmann-hrefs ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    color: #007E70;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    border: 2px solid #007E70;
    padding: 16px 32px;
    gap: 8px;
    width: max-content;
    cursor: pointer;
}
.buy-nordmann-hrefs ul li:hover{
    background: #007E70;
    color: #ffffff;
}
.buy-nordmann-hrefs ul .active-href{
    background: #007E70;
    color: #ffffff;
}
.buy-nordmann-min-info{
    margin-top: 28px;
}
.buy-nordmann__title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-nordmann__title h2{
    text-align: center;
}
h2{
    color: #000;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}
.buy-nordmann__country {
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.buy-nordmann__country span{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    display: block;
}
.buy-nordmann__country p{
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 4px;
}
.nordmann__item{
    margin-top: 32px;
}
.title-liner{
    position: relative;
}
.title-liner:before{
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 220px;
    height: 5px;
    background: #007E70;
}
.nordmann__flex{
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nordmann__text{
    max-width: 820px;
    width: 100%;
    gap: 25px;
}
.nordmann__text p{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.nordmann__text p + p{
    margin-top: 25px;
}
.features__text{
    max-width: 580px;
    width: 100%;
    padding: 66px 39px;
    border-radius: 16px;
    background: #DDFFFB;
    margin-left: 20px;
}
.features__text strong{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}
.features__text ul {
    margin-top: 25px;
    list-style: disc;
    padding-left: 25px;
}
.features__text ul li{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.nordmann__wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.nordmann__box{
    width: 25%;
    padding: 0 10px;
    margin-top: 75px;
}
.nordmann__block{
    width: 100%;
    position: relative;
    max-width: 340px;
    margin: 0 auto;
}
.nordmann__block:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 197px;
    height: 326px;
    border: 0.22px solid #9DA0A0;
    border-left: unset;
}
.about-shares{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    padding: 16px;
    background: #F24646;
    z-index: 1;
}
.nordmann__picture{
    display: flex;
    justify-content: center;
    max-width: 278px;
    width: 100%;
    position: relative;
    top: -13px;
}
.trees-price{
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: flex-end;
    gap: 16px;
}
.trees-price strong{
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
}
.button{
    display: flex;
    padding: 14px 21px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #007E70;
    width: max-content;
    white-space: nowrap;
    transition: 0.4s;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.button:hover{
    background: #0bb09e;
}
.price-and-sm{
    position: absolute;
    transform: rotate(-90deg);
    color: #9DA0A0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    top: 145px;
    right: -39px;
}
.nordmann-text__width{
    max-width: 100%;
}



.anouter-top .nordmann__picture {
    top: 0;
}

.nursery__cnt{
    margin-top: 120px;
}
.nursery__cnt h2{
    text-align: center;
}
.nursery__cnt .title-liner:before {
    left: 50%;
    transform: translate(-50%);
}
.nursery__flex{
    display: flex;
    flex-wrap: wrap;
    margin: 50px -10px 0;
}
.nursery__box{
    width: 25%;
    padding: 10px;
}
.nursery__photo{
    display: flex;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    height: 498px;
}
.nursery__photo img{
    width: 100%;
    object-fit: cover;
    border-radius: 30px 0 30px 0;
}
.gallery__fon{
    margin-top: 60px;
    background: #E2F0EF;
    padding: 60px 0 115px;
}
.gallery__cnt{
    position: relative;
}
.gallery__slider{
    width: 100%;
}

.swiper-button-next:after, .swiper-button-prev:after{
    display: none;
}

.swiper-button-prev, .swiper-button-next{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-prev{
    left: -64px;
}
.swiper-button-next{
    right: -64px;
}

.swiper-button-next:before, .swiper-button-prev:before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 4px solid #007E70;
    border-right: 4px solid #007E70;
}
.swiper-button-prev:before{
    transform: rotate(-135deg);
    top: 14px;
    left: 19px;
}
.swiper-button-next:before{
    transform: rotate(45deg);
    top: 16px;
    left: 11px;
}
.gallery__cnt .swiper-pagination {
    bottom: -60px;
}
.swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    background: #A8FFF5;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #007E70;
}
.place-order__fon{
    background-image: url("../img/bg-fon2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.place-order__cnt{
    padding: 89px 0;
}
.place-order__cnt h2{
    color: #ffffff;
}
.place-order__info{
    padding-top: 20px;
}
.place-order__fl{
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 20px;
    max-width: 455px;
    width: 100%;
}

.place-order__icon{
    background: #007E70;
    max-width: 75px;
    width: 100%;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.place-order__fl p{
    max-width: 360px;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

footer{
    background: #007E70;
}
.footer__main{
    padding: 34px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}
.footer__main p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.footer__menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__menu ul li{
    padding: 0 20px;
    position: relative;
}
.footer__menu ul li a{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;
}
.footer__menu ul li a:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #FFFFFF;
    transition: 0.3s;

}
.footer__menu ul li a:hover:before{
    width: 100%;
}
.footer__menu ul li + li:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #ffffff;
}

.place-order__cnt .title-liner:before{
    background: #A8FFF5;
}


@media (max-width: 1699px){
    .swiper-button-prev {
        left: -15px;
    }
    .swiper-button-next {
        right: -15px;
    }
}
@media (max-width: 1399px){
    .main-bg-fon {
        height: 800px;
    }
    .btn {
        max-width: 280px;
        padding: 16px 23px;
        font-size: 21px;
    }
    .phone-number {
        font-size: 20px;
        gap: 15px;
    }
    .main-bg__cnt {
        bottom: 30%;
    }
    .banner__flex {
        gap: 20px;
    }
    .banner__box span {
        margin-top: 15px;
        font-size: 18px;
        line-height: 22px;
    }
    .banner__box p {
        line-height: 22px;
        margin-top: 10px;
    }
    .buy-nordmann-hrefs ul li {
        font-size: 20px;
        padding: 15px 25px;
    }
    h2 {
        font-size: 34px;
        line-height: 38px;
    }
    .buy-nordmann__country span {
        font-size: 20px;
        line-height: 24px;
    }
    .buy-nordmann__country p {
        font-size: 20px;
        line-height: 24px;
    }
    .buy-nordmann__country {
        margin-top: 10px;
    }
    .features__text {
        max-width: 540px;
        padding: 35px 30px;
    }
    .trees-price strong {
        font-size: 24px;
        line-height: 28px;
    }
    .about-shares {
        padding: 10px;
    }
}
@media (max-width: 1199px){
    .main-bg-fon {
        height: 700px;
    }
    .btn {
        max-width: 245px;
        padding: 12px 20px;
        font-size: 19px;
    }
    .phone-number {
        font-size: 19px;
    }
    .icon-snow {
        background-size: contain;
        width: 26px;
        height: 26px;
    }
    .icon-whatsapp {
        width: 26px;
        height: 26px;
        background-size: contain;
    }
    .banner__flex {
        gap: 30px;
        flex-wrap: wrap;
    }
    .buy-nordmann-hrefs ul li {
        font-size: 18px;
        padding: 13px 25px;
    }
    .buy-nordmann-hrefs ul {
        gap: 20px;
    }
    h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .buy-nordmann__country span {
        font-size: 18px;
    }
    .buy-nordmann__country p {
        font-size: 18px;
    }
    .title-liner:before {
        bottom: -12px;
        width: 170px;
    }
    .nordmann__text p {
        font-size: 16px;
    }
    .features__text ul li {
        font-size: 16px;
    }
    .features__text ul {
        margin-top: 15px;
    }
    .nordmann__text p + p {
        margin-top: 15px;
    }
    .nordmann__box {
        width: 33%;
        margin-top: 55px;
    }

    .nursery__cnt {
        margin-top: 80px;
    }
    .nursery__box {
        width: 33%;
    }
    .place-order__fon {
        background-position: center;
    }
    .footer__menu ul li {
        padding: 0 10px;
    }
    .footer__main {
        padding: 25px 0;
    }
    .place-order__cnt {
        padding: 64px 0;
    }
    .buy-nordmann {
        margin-top: 80px;
    }
}
@media (max-width: 991px){
    .main-bg-fon {
        height: 600px;
    }
    .banner__icon {
        width: 100px;
        height: 100px;
        border: 4px solid #A8FFF5;
    }
    .banner__box {
        max-width: 340px;
    }
    .buy-nordmann {
        margin-top: 64px;
    }
    .buy-nordmann-hrefs ul li {
        font-size: 16px;
        padding: 14px 25px;
    }
    .buy-nordmann-hrefs ul {
        gap: 16px;
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .buy-nordmann__country span {
        font-size: 16px;
    }
    .buy-nordmann__country p {
        font-size: 16px;
    }
    .buy-nordmann__country {
        margin-top: 4px;
    }
    .nordmann__flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .features__text {
        max-width: 760px;
        padding: 25px 20px;
        margin-left: 0;
        margin-top: 24px;
    }
    .nordmann__box {
        width: 50%;
        margin-top: 45px;
    }
    .nursery__box {
        width: 50%;
    }
    .footer__main {
        padding: 64px 0;
        flex-direction: column;
        align-items: center;
    }
    .footer__menu{
        margin: 32px 0;
    }

    .footer__menu ul li + li:before{
        display: none;
    }
    .footer__menu ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        list-style-type: disc;
        color: #fff;
    }
}

@media (max-width: 760px){
    .main-bg-fon {
        height: 520px;
    }
    .btn {
        max-width: 210px;
        padding: 10px 17px;
        font-size: 16px;
    }
    .phone-number {
        font-size: 16px;
        gap: 10px;
    }
    .icon-snow {
        width: 18px;
        height: 18px;
    }
    .icon-whatsapp {
        width: 16px;
        height: 16px;
    }
    .buy-nordmann-hrefs ul {
        flex-direction: column;
    }
    .buy-nordmann-hrefs ul li {
        padding: 12px 22px;
        max-width: 343px;
        width: 100%;
    }
    h2{
        text-align: center;
    }
    .title-liner:before {
        width: 163px;
        left: 50%;
        transform: translate(-50%);
    }
    .button {
        padding: 12px 15px;
        font-size: 16px;
    }
    .trees-price strong {
        font-size: 22px;
        line-height: 24px;
    }
    .nordmann__box {
        width: 100%;
        margin-top: 35px;
    }
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
    }
    .place-order__fon {
        background-position: left;
    }
}
@media (max-width: 570px){
    .main-bg-fon {
        height: 409px;
        background-position-y: -33px;
    }
    .main-bg__cnt {
        bottom: 33%;
        flex-direction: column;
        gap: 8px;
    }

    .btn {
        max-width: 200px;
        padding: 8px 16px;
        font-size: 16px;
    }
    .banner__icon {
        width: 80px;
        height: 80px;
        border: 4px solid #A8FFF5;
        padding: 12px;
    }
    .banner__box {
        max-width: 370px;
    }
    .banner__flex {
        gap: 24px;
    }
    .nursery__box {
        width: 100%;
    }
    .swiper-button-prev, .swiper-button-next {
        width: 50px;
        height: 50px;
        top: auto;
        bottom: -60px;
    }
    .swiper-button-prev {
        left: 35%;
        bottom: -62px;
    }
    .swiper-button-next {
        right: 35%;
    }
    .swiper-button-next:before, .swiper-button-prev:before {
        width: 22px;
        height: 22px;
        border-top: 3px solid #007E70;
        border-right: 3px solid #007E70;
    }
    .gallery__cnt .swiper-pagination {
        bottom: -96px;
    }
    .gallery__fon {
        padding: 60px 0 130px;
    }
    .place-order__icon {
        max-width: 54px;
        height: 54px;
        padding: 10px;
    }
    .place-order__fl {
        margin-top: 20px;
        gap: 14px;
        align-items: flex-start;
    }
}
@media (max-width: 370px){
    .main-bg-fon {
        height: 363px;
        background-position-y: -37px;
    }
    h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .features__text ul {
        padding-left: 16px;
    }
    .nordmann__picture {
        max-width: 250px;
    }
    .nordmann__block:after {
        width: 160px;
        height: 286px;
    }
    .main-bg-fon canvas {
        object-fit: contain;
    }
}









.show-tree-options{

    display: none;
}




