.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 41, 46, 0.5);

    overflow: auto;
    -webkit-transform: scaleY(0.01) scaleX(0);
    -ms-transform: scaleY(0.01) scaleX(0);
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal.out {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal{
    background: rgba(0, 0, 0, 0.9);

}


@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.close{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 99;
    transition: 0.3s;
    border-radius: 50%;
    background: #007E70;
    border: 1px solid #A8FFF5;
}

.close:before,
.close:after{
    content: "";
    position: absolute;
    background-color: #A8FFF5;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;

}
.close:before{
    width: 30px;
    height: 2px;
}
.close:after{
    width: 2px;
    height: 30px;
}
.buy-click__mod {
    max-width: 700px;
    width: 100%;
    border-radius: 16px;
    background: #FFF;
    position: relative;
    padding: 50px 40px 50px;
}
.buy-click__mod:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/christmas-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 374px;
    width: 100%;
    height: 230px;
    border-radius: 0 16px 0 0;
}
.buy-click__mod:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../img/christmas-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 319px;
    width: 100%;
    height: 202px;
    border-radius: 0 0 0 16px;
}


.for-zapros{
    opacity: 0;
    position: absolute;
    visibility: hidden;
}


.modal-form{
    position: relative;
    z-index: 11;
}
.modal-form h3{
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
}
.mod-facing__cnt{
    padding-top: 20px;
}
.mod-facing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.mod-facing__fl{
    display: flex;
    align-items: center;
}
.clinker-fac__pic {
    border: 1px solid #D9D9D9;
    background: #FFF;
    max-width: 115px;
    width: 100%;
    height: 115px;
    padding: 6px 14px;
}
.mod-facing__info{
    margin-left: 30px;
}
.mod-facing__info span{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    display: block;

}
.mod-facing__info small{
    color: #9DA0A0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: block;

}
.mod-facing__info strong {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 20px;
    display: block;
}

.add-catalog-val-count{
    display: flex;
    align-items: center;
    gap: 10px;
}

.decrement, .increment{
    cursor: pointer;
    display: flex;
}

.add-catalog-val-count label{
    width: 54px;
    display: flex;
}
.add-catalog-val-count input{
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    background: unset;
}
.add-basket{
    display: flex;
    align-items: center;
}
.delete-basket{
    margin-left: 30px;
    display: flex;
    background: unset;
}





.basket__price {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #D9D9D9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.basket__price p, .basket__price span{
    color: #000;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}
.basket__price span{
    font-weight: 600;
}
.modal-inp__fl{
    margin-top: 54px;
}
.modal-inp{
    width: 100%;
    margin-top: 24px;
}
.modal-inp label{
    display: flex;
    width: 100%;
}

.modal-inp input{
    width: 100%;
    border-radius: 16px;
    border: 1px solid #007E70;
    background: #ffffff;
    padding: 11px 24px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    height: 64px;
}
.modal-inp input::placeholder{
    color: #9DA0A0;
}

.modal-form .button{
    margin-left: auto;
    margin-top: 24px;
    max-width: 255px;
    width: 100%;
    height: 50px;
    font-size: 20px;
}




















.alert_block{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    overflow: auto;
    z-index: 99999999;
}
.alert_thank{
    max-width: 420px;
    width: 100%;
    min-height: 70px;
    margin: 15px;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.alert_thank-content{
    padding: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.alert_thank-content p{
    font-size: 24px;
    margin-bottom: 15px;
    font-family: 'Montserrat';

}
.alert_thank-content span{
    font-size: 20px;
    font-family: 'Montserrat';

}
.alert_thank-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 999;
}
.alert_thank-close:before,.alert_thank-close:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    background-color: rgb(0, 0, 0);
}
.alert_thank-close:before{
    width: 15px;
    height: 2px;
}
.alert_thank-close:after{
    width: 2px;
    height: 15px;
}
.error{
    border: 1px solid red!important;
}












@media (max-width: 760px){
    .buy-click__mod {
        max-width: 590px;
        padding: 40px 20px 35px;
    }
    .clinker-fac__pic {
        max-width: 85px;
        height: 85px;
        padding: 6px 10px;
    }
    .modal-form h3 {
        font-size: 24px;
        line-height: 28px;
    }
    .mod-facing__info span {
        font-size: 16px;
        line-height: 20px;
    }
    .mod-facing__info strong {
        font-size: 20px;
        line-height: 25px;
        margin-top: 5px;
    }
    .mod-facing__info {
        margin-left: 20px;
    }
    .add-catalog-val-count input {
        font-size: 22px;
        line-height: 23px;
    }
    .add-catalog-val-count label {
        width: 40px;
    }
    .add-catalog-val-count {
        gap: 5px;
    }
    .close {
        top: 19px;
        right: 20px;
        width: 40px;
        height: 40px;
    }
    .close:before {
        width: 22px;
    }
    .close:after {
        height: 22px;
    }
    .buy-click__mod:before {
        max-width: 230px;
        height: 143px;
    }
    .buy-click__mod:after {
        max-width: 200px;
        height: 126px;
    }
    .basket__price p, .basket__price span {
        font-size: 18px;
        line-height: 22px;
    }
    .modal-inp {
        margin-top: 12px;
    }
    .modal-form .button {
        margin-top: 12px;
        max-width: 205px;
        height: 44px;
        font-size: 18px;
    }
    .basket__price {
        margin-top: 15px;
        padding-top: 15px;
    }
    .modal-inp__fl {
        margin-top: 24px;
    }
}
@media (max-width: 570px){
    .modal-form .title-liner:before {
        width: 163px;
        left: 0;
        transform: unset;
    }
    .modal-form h3 {
        font-size: 22px;
        line-height: 24px;
    }
    .buy-click__mod {
        max-width: 390px;
        padding: 35px 15px 30px;
    }
    .mod-facing {
        margin-top: 16px;
    }
    .modal-inp input {
        padding: 11px 22px;
        font-size: 18px;
        height: 52px;
    }
    .buy-click__mod:after {
        max-width: 158px;
        height: 100px;
    }
    .buy-click__mod:before {
        max-width: 196px;
        height: 121px;
    }
    .decrement, .increment {
        cursor: pointer;
        display: flex;
        width: 20px;
    }
    .clinker-fac__pic {
        max-width: 70px;
        height: 70px;
        padding: 6px 10px;
    }
    .mod-facing__info strong {
        font-size: 16px;
        line-height: 20px;
        margin-top: 3px;
    }
    .mod-facing__info span {
        font-size: 13px;
        line-height: 18px;
    }
    .mod-facing__info small {
        font-size: 13px;
        line-height: 18px;
    }
    .delete-basket {
        margin-left: 10px;
        width: 22px;
    }
    .add-catalog-val-count label {
        width: 27px;
    }
    .add-catalog-val-count input {
        font-size: 18px;
        line-height: 20px;
    }
}




@media (max-width: 370px){
    .clinker-fac__pic {
        max-width: 64px;
        height: 64px;
        padding: 6px 9px;
    }
    .add-catalog-val-count label {
        width: 20px;
    }
    .add-catalog-val-count input {
        font-size: 15px;
        line-height: 19px;
    }
    .add-catalog-val-count {
        gap: 1px;
    }
    .modal-inp input {
        padding: 11px 22px;
        font-size: 16px;
        height: 50px;
    }
}